* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 16px * 62.5 = 10px = 1rem */
}

body {
    height: 100vh;
    font: 1.6rem Helvetica, Arial;
    margin: 0;
}

.mainContent{
    background-image: linear-gradient(to top, rgb(24, 68, 104) , rgb(9, 37, 65));
}

.grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100vh;
}

.cartIcon i{
    color: white;
}

.cartIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0px;
}

.cartIcon .cart_icon{
    font-size: 21px;
    margin-top: 5px;
}

.cartIcon .hamburger{
    font-size: 24px;
    text-align: center;
}

.navbar{
    padding: 1px;
}

.menu_bars{
    padding: 1px 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

header {
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

header a {
    color: #ffffff;
    text-decoration: none;
    padding-right: 1rem;
    font-weight: bold;
}

header a:hover {
    color: #f08040;
    text-decoration: none;
}

footer {
    background-color: #203040;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

@media (max-width: 720px) {
    .cartIcon i{
        font-size: 22px;
        color: white;
    }
}

/* Products */

