.row{
  width: 100%;
  padding: 6.9%;
}

.cartRight{
  margin-top: 15px;
}

.cartLeft{
  height: 135px;
  max-width: 330px;
  border: 1px solid rgb(136, 134, 134);
  background-color: rgb(225 225 226);
  border-radius: 5px;
  margin: 20px auto;
}

.cartTable{
  width: 100%;
}

.tableHeading th{
  padding-bottom: 10px;
  color: white;
}

.tableHeading th:nth-child(3){
  text-align: center;
}

.line {
  display: inline-block;
  width: 100%;
  border-top: 0.2px solid rgb(224, 219, 219);
  margin: 10px 0px;
  border: 0.2px solid white;
}

.cartHorizLine td{
  padding: 0px;
}

.cartImage img{
  width: 80px;
  height: 100px;
  border-radius: 5px;
}

.cartQuantityDetails{
  vertical-align: top;
}

.cartProductDetail {
  list-style: none;
}
.cartProductDetail li h2 {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 15px;
  color: white;
}

.cartQuantity {
  font-size: 13px;
}

.cartQuantity span {
  font-weight: bold;
  color: white;
}

.cartQuantity button {
  padding: 2px 4px;
  border: 1px solid black ;
  border-radius: 5px;
  margin-left: 3px;
  box-shadow: 2px 2px 2px rgb(12, 12, 12);
}

.cartQuantity input {
  border-radius: 5px;
  padding: 2px 4px;
  text-align: center;
  width: 37px;
  margin: 0px 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgb(12, 12, 12);

}

.cartProductPrice{
  font-weight: 500;
  text-align: center;
  font-size: 15px;
  vertical-align: center;
  color: white;
}

.subTotal{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 8px;
  margin-top: 18px;
}

.proceedToCheckout{
  background-color: #2c3e50;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 1rem;
  border: 1px solid #2c3e50;
  border-radius: 12px;
  width: 100%;
  margin: 14px auto;
}

/* MEDIA QUERY  */

@media (max-width: 720px) {
  .row{
    width: 100%;
    padding: 0%;
    margin: 0;
  }
  .cartRight{
    padding: 1px;
  }

  .cartProductDetail{
    padding-left: 4px;
    width: 150px;
  }
  .cartProductDetail li{
    padding-left: 15px;
  }

  .cartProductPrice{
    width: 100px;
  }
  
  .cartQuantity span {
    font-weight: bold;
    color: white;
    padding-left: 0px;
  }
}