.productList{
    list-style-type: none;
}

.product{
    margin: 20px auto;
    text-align: center;
}

.product img{
    width: 240px;
    height: 300px;
    border-radius: 6px;
}

.product_brand{
    margin: 10px 0px;
    color: white;
}

.product_name{
    margin: 4px 0px;
    height: 22px;
}

.product_name a{
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.product_price{
    margin: 12px auto;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.product_button button{
    width: 160px;
    color: white;
    font-weight: bold;
    background-color: #0f5192;
    border: 0px;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 1px 1px 2px 1px rgb(26, 26, 27);
} 

.cards {
max-width: 1400px;
margin: 0 auto;
display: grid;
grid-gap: 1rem;
}

  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
  }

  @media (max-width: 720px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
    .product img{
        width: 165px;
        height: 220px;
    }
    .product_name{
        font-size: 14px;
        height: 30px;
    }
    .product_price{
        margin: 12px auto;
        font-size: 16px;
        font-weight: bold;
    }
    
    .product_button button{
        width: 120px;
        color: white;
        font-weight: bold;
        background-color: #0f4c8a;
        border: 0px;
        border-radius: 5px;
        padding: 5px;
        font-size: 14px;
        box-shadow: 1px 1px 2px 1px rgb(29, 30, 32);
        /* box-shadow: 1px 1px 2px 2px rgb(61, 84, 134); */
    } 
  }
