.row{
    padding: 0px 4.5%;
}
.contain{
    background-image: linear-gradient(to top, rgb(77, 141, 194) , rgb(5, 21, 37));
    margin: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.shipping-status {
    margin: 20px auto;
}

.paymentDetails{
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    background-color: #ece4e4;
    width: 29rem;
    margin: 2px auto;
    padding: 0px;
    margin-top: -215px;
}

.paymentformDetails{
    list-style-type: none;
    padding: 15px 30px;
}

.paymentformDetails li h1{
    margin: 25px auto;
    text-align: center;
}

.paymentformDetails p{
    font-size: 13 px;
    margin-bottom: 25px;
}

.paymentformDetails li{
    margin: 22px auto;
}

.paymentformDetails li input{
    color: black;
}

.paymentformDetails li label{
    margin: 0px 12px;
    font-weight: 500;
    color: black;
}

.paymentformButton button{
    width: 100%;
    padding: 8px;
    border-radius: 12px;
    background: #19344e;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0px;
    margin-top: 19px;
    text-shadow: 1px 1px 1px rgb(158, 153, 153);
    box-shadow: 2px 3px 3px 2px rgb(163, 159, 159);
}

.paymentContinue i{
    margin-left: 8px;
}

@media (max-width: 720px) {
    .paymentformDetails p{
        font-size: 13px;
        margin-bottom: 25px;
    }
}